*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.pyc
*.spyproject
debug.log
*.json
*ignore.txt
/submissions/test/*
/submissions/train/*
!/submissions/train/train.txt
!/submissions/test/test.txt
/data
/src/mbrimberry_files/**/*.png
/src/mbrimberry_files/**/*.jpg
/src/mbrimberry_files/**/*.jpeg


