*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.spyproject
debug.log
*.json
*ignore.txt
/submissions/test/*
/submissions/train/*
!/submissions/train/train.txt
!/submissions/test/test.txt
/data
/src/mbrimberry_files/*
!/src/mbrimberry_files/Submissions/**/**/Activity\ Packet/*.txt
!/src/mbrimberry_files/Submissions/**/**/Desk\ Images/*.txt
